<footer>
    <div class="f-info ">
        <div class="f-info-socials">
           <a href="/facebook"><i class="fa-brands fa-square-facebook"></i></a> 
            <a href="/instagram"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/himanshu-gupta-25b372254?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Made By &nbsp;&nbsp;<i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
    
</footer>